<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Ahmed's Portfolio | <%= data.pageTitle %>
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="<%=data.path?data.path:''%>images/favicon.jpeg" type="image/x-icon">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Global CSS -->
    <link rel="stylesheet" href="<%=data.path?data.path:''%>css/global.css">
    <!-- NavBar CSS -->
    <link rel="stylesheet" href="<%=data.path?data.path:''%>css/navbar.css">

    <!-- Services CSS -->
    <link rel="stylesheet" href="<%=data.path?data.path:''%>css/services.css">

    <!-- Work Process CSS -->
    <link rel="stylesheet" href="<%=data.path?data.path:''%>css/work-process.css">

    <!-- Projects CSS -->
    <link rel="stylesheet" href="<%=data.path?data.path:''%>css/projects.css">


</head>

<body>